a { color: #0070f3; }

header {
    display: flex;
    border-bottom: 1px solid;
    padding-left: 2em;
}

.header-title {
    display: flex;
    flex: fit-content;
}
.header-icon {
    width: 60px;
    padding-right: 1em;
}

.header-tools {
    display: flex;
    align-items: center;
    flex: fit-content;
}

.asH1 {
    display: inline-block;
    padding: .6em 0;
    margin-left: 1em;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2em;
}

table {
    min-width: 400px;
}

table, tr, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}

tr.player {
    display: none;
}

tr.player.visible {
    display: table-row;
}

td {
    padding: .2rem;
}

.pageContainer {
    min-height: 100vh;
}

.contentContainer {
    margin: .5rem auto;
    max-width: 95vw;
}

/** From app **/
.rankTables {
    display: flex;
    flex-wrap: wrap;
}

.positionTable {
    padding: 0px 1rem;
}

/** From playerTier **/
.tier {
    background-color: lightgray;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.inputGroup {
    display: inline-block;
    margin-right: 1em;
}

.inputGroup > label {
    font-size: 0.8em;
}

.inputGroup > input, .inputGroup > select {
    display: block;
    padding: 0.5rem;
    margin-top: -0.3em;
}
