.leagueSettings {
    height: 90vh;
    padding: 0;
    position: fixed;
    border-color: chocolate;

    &::backdrop {
        opacity: 0.7;
        background-color: black;
    }

    section {
        display: flex;
        flex-flow: column;
        height: 100%;
        overflow: hidden;
    }

    header {
        height: 8%;
        align-items: center;
        padding: 0.5% 0 0 1%;
        border: none;
    }

    h2 {
        margin: 0;
    }
    
    footer {
        width: 100%;
        padding: 0.5% 1%;
        border-top: 1px solid chocolate;
        display: flex;
        flex-flow: row-reverse;
        align-items: center;
        flex-grow: 0;

        button {
            font-size: 0.9rem;
            padding: 0.4rem;
            cursor: pointer;
        }
    }
}

.leagueSettings-tabs {
    width: 75vw;
    display: flex;
    height: 50%;
    padding: 1%;
    flex-grow: 1;

    nav {
        margin-right: 2%;
        width: 13%;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }

            &.active {
                text-decoration: underline;
            }
        }
    }

    .leagueSettings-content {
        width: 84%;
        padding-left: 1%;
        overflow-y: scroll;
    }
}

.rosterConfig {
    form {
        margin-bottom: 2rem;
    }
}